Repository memfault/memfault-docs, changes with the owners that CODEOWNERS names for each.
All owners: @owners-docs, @memfault/owners-typescript, @memfault/owners-mcu, @memfault/owners-kotlin

CODEOWNERS:

# See CODEOWNERS syntax documentation at:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

* @owners-docs
/src/ @memfault/owners-typescript

/docs/embedded/ @memfault/owners-mcu
/docs/mcu/ @memfault/owners-mcu
/docs/android/ @memfault/owners-kotlin

Fix two additional broken links
  src/pages/index.js
Owners: @memfault/owners-typescript

Prettified Code!
  docusaurus.config.js
Owners: @owners-docs

Fix .forestry/settings.yml
  .forestry/settings.yml
Owners: @owners-docs

Fix /embed/embedded -> /embed/mcu redirects
  static/_redirects
Owners: @owners-docs

Prettified Code!
  docs/android/android-getting-started-guide.mdx
  docs/mcu/arm-cortex-m-guide.mdx
  docs/mcu/esp32-guide.mdx
Owners: @memfault/owners-kotlin, @memfault/owners-mcu

Use ProjectAwareCreateAProject consistently
  docs/android/android-getting-started-guide.mdx
  docs/mcu/arm-cortex-m-guide.mdx
  docs/mcu/esp32-guide.mdx
  docs/mcu/esp8266-rtos-sdk-guide.mdx
  docs/mcu/nrf-connect-sdk-guide.mdx
  docs/mcu/self-serve-local-testing.mdx
  src/pages/_partials/_steps/_create-project-key.mdx
Owners: @memfault/owners-kotlin, @memfault/owners-mcu, @memfault/owners-typescript

MFLT-3540 Update documentation about uploading symbol files
  blog/2020-01-07-issue-filtering-isr-analysis.mdx
  blog/2021-01-31.mdx
  docs/android/android-releases-guide.mdx
  docs/android/uploading-android-bugreports.mdx
  docs/ci/install-memfault-cli.mdx
  docs/ci/uploading-artifacts-api.mdx
  docs/mcu/arm-cortex-m-guide.mdx
  docs/mcu/demo-cli.mdx
  docs/mcu/introduction.mdx
  docs/mcu/releases-guide.mdx
  docs/mcu/symbol-file-build-ids.mdx
  docs/mcu/uploading-software-versions.mdx
  docs/platform/releasing-firmware.mdx
  sidebars.js
  src/pages/_partials/_steps/_add-build-id-intro.mdx
  src/pages/_partials/_steps/_add-build-id.mdx
  src/pages/_partials/_steps/_try-flow.mdx
  src/pages/_partials/_steps/_upload-symbol-file.mdx
  static/img/docs/mcu/software-versions-create-type.png
  static/img/docs/mcu/software-versions-input-name.png
  static/img/docs/mcu/software-versions-new-version.png
  static/img/docs/mcu/software-versions-newly-created.png
  static/img/docs/mcu/software-versions-symbols-add.png
  static/img/docs/mcu/software-versions-versions-column.png
  static/img/docs/platform/releasing-firmware-add-artifact-firmware.png
  static/img/docs/platform/releasing-firmware-add-artifact-symbols.png
  static/img/docs/platform/releasing-firmware-all-cohorts.png
  static/img/docs/platform/releasing-firmware-all-releases.png
  static/img/docs/platform/releasing-firmware-create-cohort-click.png
  static/img/docs/platform/releasing-firmware-create-cohort.png
  static/img/docs/platform/releasing-firmware-create-release.png
  static/img/docs/platform/releasing-firmware-deployment-options.png
  static/img/docs/platform/releasing-firmware-edit-button.png
Owners: @owners-docs, @memfault/owners-kotlin, @memfault/owners-mcu, @memfault/owners-typescript

MFLT-3655 Update documentation on local debugging with GDB
  docs/mcu/coredump-elf-with-gdb.mdx
  static/img/docs/mcu/download-coredump-elf.png
Owners: @memfault/owners-mcu, @owners-docs

Note that SDK >= 0.20.0 is required for Build Ids
  docs/mcu/symbol-file-build-ids.mdx
Owners: @memfault/owners-mcu

MFLT-3742 Document how to send data to Memfault over UDP
  docs/mcu/nrf-connect-sdk-guide.mdx
  src/pages/_partials/_sending-data-over-udp.mdx
Owners: @memfault/owners-mcu, @memfault/owners-typescript

Link to https://github.com/memfault/memfault-firmware-sdk
  docs/mcu/symbol-file-build-ids.mdx
Owners: @memfault/owners-mcu

MFLT-3778: Reenable DocSearch but hide /search
  docusaurus.config.js
  src/css/custom.css
Owners: @owners-docs, @memfault/owners-typescript

Prompt a yarn cache bust by upgrading prettier
  src/css/custom.css
  yarn.lock
Owners: @memfault/owners-typescript, @owners-docs

Reenable /search since it has been populated by the crawler
  src/css/custom.css
Owners: @memfault/owners-typescript

MFLT-3835: Restore dark mode in the docs
  src/css/custom.css
  src/pages/index.js
Owners: @memfault/owners-typescript

Use oceanic-next to highlight code since it fits colorscheme better
  docusaurus.config.js
  src/css/custom.css
Owners: @owners-docs, @memfault/owners-typescript

Style Algolia DocSearch widget according to our colorscheme
  src/css/custom.css
Owners: @memfault/owners-typescript

Force light mode in embed mode to avoid clashing with the Memfault app
  src/components/EmbedMode.js
Owners: @memfault/owners-typescript

Rename structured logs to custom events in docs
  docs/android/custom-events.mdx
  sidebars.js
  static/_redirects
  static/img/docs/android/android-custom-events.png
  static/img/docs/android/android-structured-logs.png
Owners: @memfault/owners-kotlin, @owners-docs

Prettified Code!
  docs/android/custom-events.mdx
Owners: @memfault/owners-kotlin
